<main class="bg-gray-100 dark:bg-gray-400 flex flex-col grow p-8 h-screen">
  <header class="flex flex-row justify-between">
    <jdrks-logo></jdrks-logo>
    <section class="flex flex-row">
      <jdrks-author-reference></jdrks-author-reference>
      <jdrks-dark-mode-toggle
        [(darkModeEnabled)]="darkModeEnabled"
      ></jdrks-dark-mode-toggle>
    </section>
  </header>
  <jdrks-scribbling-pane
    class="grow"
    [minDataPointDistance]="minDataPointDistance"
    [(dataPoints)]="dataPoints"
  >
  </jdrks-scribbling-pane>
  <footer class="flex flex-row justify-center">
    <jdrks-distance-slider
      class="flex-none"
      [minValue]="0.01"
      [maxValue]="0.25"
      [step]="0.01"
      [(distance)]="minDataPointDistance"
    ></jdrks-distance-slider>
    <jdrks-copy-button
      class="absolute bottom-8 right-8"
      [data]="dataPoints"
    ></jdrks-copy-button>
  </footer>
</main>
